
/* Headings */
h1, h2 {letter-spacing: 0px;line-height: 1em; font-size:140%;}
.module-title h2, h3, h4, h5 {letter-spacing: 0px!important;line-height: 1em;}
.componentheading {display: block;margin-bottom: 15px; font-size:280%;}
.contentheading {margin-bottom: 15px;display: block;}

/* Section Tables */
.sectiontableheader {font-weight: bold;padding: 3px;line-height: 25px;text-align: left;}
.sectiontablefooter {padding-bottom: 8px;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align: left;padding: 6px 5px;vertical-align: middle;}
tr.sectiontableentry0 td, td.sectiontableentry0, tr.sectiontableentry1 td, td.sectiontableentry1, tr.sectiontableentry2 td, td.sectiontableentry2 {height: 30px;}
.contentpane, .contentpaneopen {width: 100%;}

/* Column Layout */
.component-content .cols-1 {display: block;float: none !important;margin: 0 !important;} 
.component-content .cols-2 .column-1, .component-content .cols-2 .column-2 {width: 50%;float: left;}
.component-content .cols-3 .column-1, .component-content .cols-3 .column-2, .component-content .cols-3 .column-3 {float: left;width: 33.3%;padding: 0;margin: 0;}
.component-content .items-row {overflow: hidden;margin-bottom: 10px !important;}
.component-content .cols-4 .column-1, .component-content .cols-4 .column-2, .component-content .cols-4 .column-13, .component-content .cols-4 .column-4 {width: 25%;padding: 0;margin: 0;float: left;}
.component-content .cols-2 .rt-article, .component-content .cols-3 .rt-article, .component-content .cols-4 .rt-article {margin: 0 10px 20px 10px;}
.component-content .cols-2 .column-1 .rt-article, .component-content .cols-3 .column-1 .rt-article, .component-content .cols-4 .column-1 .rt-article {margin-left: 0;}
.component-content .cols-2 .column-2 .rt-article, .component-content .cols-3 .column-3 .rt-article, .component-content .cols-4 .column-4 .rt-article {margin-right: 0;}

/* Category Layout */
.component-content .rt-blog .rt-description {margin: 10px 0 10px 0; border-bottom: 1px #ddd solid;}
.component-content .rt-article-bg {padding-bottom: 5px; border-bottom: 0px #ccc dotted; display: block; overflow: hidden;}
.component-content .rt-article-links {margin: 10px 0px 10px 0px;}
.component-content .category-desc {padding: 0 5px;margin: 10px 0 25px;}
.component-content .cat-children .category-desc {margin: 15px 0 25px;}
.component-content .cat-children {font-size:12px;}
.component-content ul.subcategories {margin: 20px 20px 20px 10px;}
.component-content .subcategories-link {font-weight: bold}
.component-content ul {list-style-position: outside;list-style-type: square;padding: 0 0 0 15px;margin: 10px 0;}
.component-content ol {padding: 0 0 0 20px;margin: 10px 0;list-style-position: outside; list-style-type: none;}
.component-content ul li, .component-content ol li {padding: 0;line-height: 1.7em;margin: 0; list-style-type: none;}
.component-content .category-list {padding: 5px 15px;display: block;}
.component-content .categories-list {padding: 5px 5px;}
.component-content .categories-list ul {margin: 0 0 0 10px;padding: 0;list-style: none; }
.component-content .categories-list ul li {padding: 5px; border-top:1px solid #ddd;}
.component-content .categories-list ul ul {margin-left: 15px;}
.component-content .category-desc {line-height: 1.7em;margin: 10px 0;padding-left: 0;}
.component-content .small {font-size: 0.85em;margin: 0 0 20px;}
.component-content .image-left {float: left;margin: 0 15px 5px 0;}
.component-content .image-right {float: right;margin: 0 0 5px 15px;}
.component-content .archive {padding: 0 5px;}
.component-content .archive form {padding: 0 5px;}
.component-content ul#archive-items {margin: 20px 0;list-style-type: none;padding: 0;}
.component-content ul#archive-items li.row0, .component-content ul#archive-items li.row1 {padding: 10px 0;margin: 10px 0;}

/* Article Layout */
.component-content .title {width: auto;line-height: 1.1em; color:#202020;}
.component-content h1.title a,
.component-content h2.title a {color:#222; letter-spacing:0px;}
.component-content h2.title a:hover {text-decoration: none; color: #555;}
.component-content h1.title {font-size: 280%;}
.component-content h2.title {font-size: 250%;}
.component-content h3.title {font-size: 160%;}
.component-content span.edit {margin-left: 10px;float: left;}
.component-content .rt-articleinfo {}
.component-content .rt-date-modified, .component-content .rt-author, .component-content .rt-date-posted, .component-content .rt-hits {display: block;font-size: 95%;}
.component-content .rt-author {font-style: italic;padding-right:15px;}
.component-content .rt-category, .component-content .rt-date-published {display:block;}
.component-content .rt-author , .component-content .rt-hits {display:block}
.component-content .rt-date-created, .component-content .rt-date-published {font-weight: bold;}
.component-content .rt-description {margin: 10px 0px 10px 0px;overflow: hidden;}
.component-content .rt-description img.left {margin-right: 15px;float: left;}
.component-content .rt-description img.right {margin-left: 15px;float: right;}
.component-content .filter {margin: 10px 0;}
.component-content span.number {color: #969696;font-style: italic;}
.component-content .rt-article-icons {overflow: hidden; text-align: center!important; padding-top: 1px;}
.component-content .rt-article-icons ul {margin: 0;padding: 0;list-style: none;}
.component-content .rt-article-icons ul li {margin: 0;padding: 0; float: left;}
.component-content .rt-article-icons ul li a {width: 20px;height: 20px; margin-left: 7px; }
.component-content .rt-article-icons ul li img {display: none;}
.component-content .print-icon a {background: url(../images/system/print_icon.png) no-repeat!important; }
.component-content .email-icon a {background: url(../images/system/email_icon.png) no-repeat!important;}
.component-content li.edit-icon {list-style-type: none !important; }
.component-content .rt-article-cat {font-weight: bold;margin-top: 15px;margin-bottom: 0;}

/* Blog Layout */
.rt-blog .rt-category {border-top:1px dotted #ccc; margin-top: 10px; padding:4px 0;}
.rt-blog .rt-author {border-top:1px dotted #ccc; border-bottom:1px dotted #ccc; font-style: normal; padding:4px 0;}
.rt-blog .rt-hits {border-bottom:1px dotted #ccc; padding:4px 0;}
.rt-readon-surround  { margin:0; padding-bottom: 10px; border-bottom: 1px dotted #ccc;}

/* Editing */
.component-content .edit #editor-xtd-buttons a:link, .component-content .edit #editor-xtd-buttons a:visited, .component-content .edit #editor-xtd-buttons a:hover {color: #323232;}
.component-content .edit .inputbox, .component-content .edit textarea {border: 1px solid #ddd;}
.component-content .edit legend {font-size: 150%;}
.component-content .edit form#adminForm fieldset {padding: 20px 15px;margin: 10px 0 15px 0;}
.component-content .formelm {margin: 5px 0;}
.component-content .formelm label {width: 9em;display: inline-block;vertical-align: top;}
.component-content form#adminForm .formelm-area {padding: 5px 0;}
.component-content form#adminForm .formelm-area label {vertical-align: top;display: inline-block;width: 7em}
.component-content .formelm-buttons {text-align: right;margin-bottom: 10px}
.component-content .button2-left {float: left;margin-right: 5px;margin-top: 10px;}
.component-content .button2-left a {background: #eee;padding: 4px;margin: 0;line-height: 1.2em;border: solid 1px #ddd;font-weight: bold;text-decoration: none;}

/* User */
#form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox {border: 1px solid #ddd;font-size: 1.2em;padding: 12px;margin: 0;}
#com-form-login fieldset div, #josForm fieldset div {margin-bottom: 10px;}
#form-login ul {margin-top: 10px;}
#form-login p {margin-bottom: 10px;}
#form-login .user-greeting {font-weight: bold;font-size: 120%;margin-bottom: 15px;}
.component-content .user label.label-left, .component-content .user span.label-left {display: block;width: 130px;float: left;font-weight: bold;font-size: 120%;}
.col12 .rt-grid-2 #form-login .inputbox {width: 104px;}
.col12 .rt-grid-3 #form-login .inputbox {width: 184px;}
.col12 .rt-grid-4 #form-login .inputbox {width: 264px;}
.col12 .rt-grid-5 #form-login .inputbox {width: 344px;}
.col12 .rt-grid-6 #form-login .inputbox {width: 424px;}
.col12 .rt-grid-7 #form-login .inputbox {width: 504px;}
.col12 .rt-grid-8 #form-login .inputbox {width: 584px;}
.col12 .rt-grid-9 #form-login .inputbox {width: 664px;}
.col12 .rt-grid-10 #form-login .inputbox {width: 744px;}
.col12 .rt-grid-12 #form-login .inputbox {width: 904px;}
.col16 .rt-grid-2 #form-login .inputbox {width: 64px;}
.col16 .rt-grid-3 #form-login .inputbox {width: 124px;}
.col16 .rt-grid-4 #form-login .inputbox {width: 184px;}
.col16 .rt-grid-5 #form-login .inputbox {width: 244px;}
.col16 .rt-grid-6 #form-login .inputbox {width: 304px;}
.col16 .rt-grid-7 #form-login .inputbox {width: 364px;}
.col16 .rt-grid-8 #form-login .inputbox {width: 424px;}
.col16 .rt-grid-9 #form-login .inputbox {width: 484px;}
.col16 .rt-grid-10 #form-login .inputbox {width: 544px;}
.col16 .rt-grid-11 #form-login .inputbox {width: 604px;}
.col16 .rt-grid-12 #form-login .inputbox {width: 664px;}
.col16 .rt-grid-13 #form-login .inputbox {width: 724px;}
.col16 .rt-grid-14 #form-login .inputbox {width: 784px;}
.col16 .rt-grid-15 #form-login .inputbox {width: 844px;}
#users-profile-core, #users-profile-custom {margin: 10px 0 15px 0;padding: 15px; border: 8px solid #e9e9e9;}
#users-profile-custom  legend{font-weight:bold; text-transform:uppercase; color: #333;}
#users-profile-core dt, #users-profile-custom dt {float: left;width: 15em;padding: 10px 0;font-weight:bold; color:#454545;}
#users-profile-core dd, #users-profile-custom dd {padding: 10px 0;border-top:1px dotted #ccc;}
#member-profile fieldset, .registration fieldset {margin: 10px 0 15px 0;padding: 15px;}
#users-profile-core legend, .profile-edit legend, .registration legend {font-weight: nomral;color:#565656; font-size:12px; text-transform:uppercase;}
.component-content #member-registration {padding: 0 5px; }
.component-content #member-registration fieldset {padding:20px;border: 10px solid #e9e9e9;}
.component-content form fieldset dl dt span {font-size:11px; font-weight:normal; color:#999;padding-bottom:10px;}
.component-content form fieldset dl dd input {width: 18em;}
.component-content form fieldset dt {float: left;padding: 5px 0;font-weight:bold; color:#444;}
.component-content form fieldset dd {float: left;padding: 3px 20px;}
.component-content form fieldset dt dd {display:inline-block;}
.component-content .login fieldset { border: 8px solid #e9e9e9; padding: 30px; }
.login-fields {padding-bottom: 20px; margin-top:15px!important; display:inline;}
.login-fields label  {font-weight:bold; padding-right:5px; color:#444;}
.login-fields label#password-lbl {padding-left:25px;}
fieldset .readon { display:inline-block; padding-left:20px;}
.Tip {background: #000;}
.userdata .inputbox { background:#fff;}
.userdata .readon { }
#login-form ul li a{font-size: 11px !important; line-height: 2em;}
#login-form ul  {padding-bottom: 15px;}
#login-form .userdata  {padding-bottom: 15px;}

.login-fields input:focus, .component-content form fieldset dd input:focus { box-shadow: 0px 0px 6px #6195c6; -moz-box-shadow: 0px 0px 6px #6195c6; -webkit-box-shadow: 0px 0px 6px #6195c6; 
filter: progid:DXImageTransform.Microsoft.Shadow(color='#6195c6', Direction=145, Strength=3);
}


/* Tables */
.component-content table {border-collapse: collapse;}
.component-content table.weblinks, .component-content table.category {font-size: 1em;margin: 10px 10px 20px 0px;width: 99%;}
.component-content table.weblinks td {border-collapse: collapse;}
.component-content table.weblinks td, .component-content table.category td {padding: 7px; border-top:1px solid #e0e0e0; }
.component-content table.weblinks td, .component-content table.category tr:hover {background:#f0f0f0;}
.component-content table.weblinks th, .component-content table.category th {padding: 7px;text-align: left;}
.component-content td.num {vertical-align: top;text-align: left;}
.component-content td.hits {vertical-align: top;text-align: center;}
.component-content td p {margin: 0;line-height: 1.3em;font-size:12px;}
.component-content .filter {margin: 10px 0;}
.component-content .display-limit, .component-content .filter {text-align: right;margin-right: 7px;}
.component-content table.category th a img {padding: 2px 10px;}
.component-content .filter-search {float: left;}
.component-content .filter-search .inputbox {width: 6em;}
.component-content legend.element-invisible {position: absolute;margin-left: -3000px;margin-top: -3000px;height: 0;}
.component-content .cat-items {margin-top: 20px;}

/* Contact */
.component-content .contact {padding: 0 0 0 20px; border-left: 1px solid #e9e9e9; }
.component-content .contact-category {padding: 0 10px;}
.component-content .contact-category  .component-content #adminForm fieldset.filters {border: 0;padding: 0;}
.component-content .contact-image {margin: 10px 0;overflow: hidden;}
.component-content .contact h3 {font-size: 10px; text-transform: uppercase; font-weight: bold; display: none;}
.component-content address {font-style: normal;margin: 10px 0;}
.component-content address span {display: block;}
.component-content .contact-address {margin: 20px 0 10px 0;}
.component-content .contact-email div {padding: 2px 0;margin: 0 0 10px 0;}
.component-content .contact-email label {width: 17em;float: left;}
.component-content span.contact-image {margin-bottom: 10px;overflow: hidden;display: block;}
.component-content #contact-textmsg {padding: 2px 0 10px 0;}
.component-content #contact-email-copy {float: left;margin-right: 10px;}
.component-content .contact .button {float: none !important;clear: left;display: block;margin: 20px 0 0 0;}
.component-content dl.tabs {float: left;margin: 50px 0 0 0;z-index: 50;clear: both;}
.component-content dl.tabs dt {float: left;padding: 4px 10px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-top: 1px solid #ccc;margin-right: 3px;background: #f0f0f0;color: #666;}
.component-content dl.tabs dt.open {background: #F9F9F9;border-bottom: 1px solid #F9F9F9;z-index: 100;color: #000;}
.component-content div.current {clear: both;border: 1px solid #ccc;padding: 10px 10px;max-width: 500px;}
.component-content div.current dd {padding: 0;margin: 0;}
.component-content dl#content-pane.tabs {margin: 1px 0 0 0;}

/* Modified Contact form */
#jform_contact_emailmsg,
#jform_contact_email,
#jform_contact_name {width: 17em;}
dl.margins-removed {padding-left: 10px; }
.margins-removed dt{float: left;margin: 0;padding: 12px 0 0 0;width:100%; color: #777; font-size: 11px;}
.margins-removed dt label {font-weight: bold; font-size: 12px; color: #444;}
.margins-removed label {margin-bottom: 10px !important}
.margins-removed dd{	float: left;margin: 0;padding: 0 ! important;}
dl.margins-removed dt legend { font-size: 11px !important; font-weight: normal !important;}
dl.margins-removed dd button {margin-bottom: 20px;}
.contact-over {padding-bottom: 20px !important; display: block ! important;}
#contact-form textarea,
#contact-form input,
.inputbox {padding:6px; background:#fff;}
#contact-form textarea:focus,
#contact-form input:focus,
.inputbox:focus {}

.component-content #contact-textmsg {padding: 2px 0 10px 0;}
.component-content #contact-email-copy {float: left;margin-right: 10px;}
.component-content .contact .button {float: none !important;clear: left;display: block;margin: 20px 0 0 0;}
.component-content dl.tabs {float: left;margin: 50px 0 0 0;z-index: 50;clear: both;}
.component-content dl.tabs dt {float: left;padding: 4px 10px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-top: 1px solid #ccc;margin-right: 3px;background: #f0f0f0;color: #666;}
.component-content dl.tabs dt.open {background: #F9F9F9;border-bottom: 1px solid #F9F9F9;z-index: 100;color: #000;}
.component-content div.current {clear: both;border: 1px solid #ccc;padding: 10px 10px;max-width: 500px;}
.component-content div.current dd {padding: 0;margin: 0;}
.component-content dl#content-pane.tabs {margin: 1px 0 0 0;}
.title.pane-toggler,.title.pane-toggler-down {font-size:14px; color: #333; font-weight:bold; text-transform:uppercase;}
.dfContactTable tr th {background: none!important; color: #333;}

/* Weblinks */
.component-content .weblinks fieldset div {overflow: hidden;}
.component-content .weblinks label.label-left {display: block;width: 150px;float: left;}

/* Search */
.component-content .searchintro {font-weight: normal;margin: 20px 0 20px;}
.component-content #searchForm {padding: 0;}
.component-content .form-limit {margin: 20px 0 0;text-align: right;padding: 0 10px 0 20px;}
.component-content .highlight {font-weight: bold;}
.component-content .ordering-box {float: none;}
.component-content .phrases-box {float: none;margin-bottom: 10px;}
.component-content .ordering-box .inputbox {width: auto !important}
.component-content .only, .component-content .phrases {margin: 10px;padding: 15px;line-height: 1.3em; border: 8px solid #eee;}
.component-content .only, .component-content .phrases legend {font-weight:bold; color: #444;}
.component-content label.ordering {display: block;margin: 10px 0 10px 0;}
.component-content .word {padding: 0;}
.component-content .word input {font-weight: bold;}
.component-content .word label {font-weight: bold;}
.component-content fieldset.only label, .component-content fieldset.phrases label {margin: 0 10px 0 0;}
.component-content .ordering-box label.ordering {margin: 0 10px 5px 0;float: left; font-weight:bold;}
.component-content form .search label {display: none;}
.component-content dl.search-results dt.result-title {padding: 15px 15px 0px 5px;font-weight: bold; border-top: 1px dotted #bbb; font-size:18px;}
.component-content dl.search-results dd {padding: 2px 15px 2px 5px;}
.component-content dl.search-results dd.result-text {padding: 10px 15px 10px 5px;line-height: 1.7em;}
.component-content dl.search-results dd.result-created {padding: 2px 15px 15px 5px; font-size:11px;}
.component-content dl.search-results dd.result-category {padding: 10px 15px 5px 5px; font-size:13px;}
#search-searchword.inputbox {background:#fff; border:1px solid #dedede;}

/* Module Search */
#mod_search {float:right;padding-top:42px;}
#mod-search-searchword.inputbox {float:left;padding:9px!important;height:15px!important;background: url(../images/search_input.png) repeat-x; border-left:1px solid #151515;border-right:1px solid #151515;border-top:none;border-bottom:1px solid #333; font-size:90%;color:#666;}
#mod-search-searchword.inputbox:focus {border-bottom:1px solid #aaa; color: #eee; }
.search input.button12 {float:right;margin-left:5px; width:36px; height:34px!important; background-color:transparent!important;background-image: url(../images/search_button1.png);background-position: 0 0;border:none; text-indent:-9999px;}
.search input.button12:hover {cursor:pointer;background-position:-36px 0;}
.search input.button12 img:hover {background: url(../images/search_button.png) no-repeat 0 0;}

/* Wrong/Invalid input CSS 3.0 */
input.invalid { border:1px solid #FF5447!important; color:#FF5447!important; }
label.invalid { color:#e40000!important; font-weight:bold; }


/* Accessibility */
#rt-accessibility .rt-desc {float: left;padding-right: 5px;}
#rt-accessibility #rt-buttons {float: left;}
#rt-accessibility .button12 {display: block;width:14px;height:14px;float: left;background: url(../images/typography.png);margin: 2px;}
#rt-accessibility .large .button12 {background-position: 0 -17px;}
#rt-accessibility .small .button12 {background-position: -15px -17px;}

/* Mail to window */
.formelm { width: 12em;}

/* Other */
.component-content .categorylist input {border: 1px solid #ddd;font-size: 1.2em;padding: 2px;margin: 0;}
.component-content th {padding: 5px;background: #222;border-bottom: 2px solid #ccc;border-top: 1px solid #fff;font-weight: bold; color:#aaa;}
.component-content th a {color:#eee; text-transform:uppercase; font-size:11px; text-shadow: #000 1px 1px 1px;}
.component-content th a:hover {text-decoration:underline;}
.component-content tr.even td {padding: 5px;background: #f0f0f0;border-bottom: 1px solid #ddd;}
.component-content tr.odd td {padding: 5px;background: #fafafa;border-bottom: 1px solid #ddd;}
.component-content p.error {padding: 10px;}
.component-content .contentpaneopen_edit {float: left;}
.component-content table.contenttoc {padding: 10px;margin: 10px;float: right;}
.component-content table.contenttoc tr td {padding: 1px 0;}
.component-content .pagenavcounter {font-weight: bold;}
ul.latestnews, ul.mostread {padding-left: 10px;margin: 0;}
ul.latestnews li a, ul.mostread li a {padding: 2px 2px 2px 15px;display: block;text-decoration: none;}
#article-index {width: 25%;float: right;padding: 10px;margin: 10px 0px 20px 30px;}
#article-index h3 {margin: 0;font-size: 1em;}
#article-index ul {list-style-type: disc;}
.mod-languages ul li {display: inline;}
.stats-module dl {margin: 10px 0 10px 0;}
.stats-module dt {float: left;margin: 0 10px 0 0;font-weight: bold;}
.stats-module dt, .stats-module dd {padding: 2px 0 2px 0;}
.banneritem {margin: 10px 0;padding: 0;}
.banneritem a {font-weight: bold;}
p.syndicate {float: left;display: block;text-align: left;}
.phrases .inputbox {width: 10em;}
.phrases .inputbox option {padding: 2px;}

/* Newsflash */
.newsflash {margin: 0;}
.newsflash-horiz {overflow: hidden;list-style-type: none;margin: 0 5px;padding: 20px 10px;}
.newsflash-horiz li {float: left;width: 30%;margin: 0 1%;padding: 10px 5px;}
.newsflash-horiz li h4 {font-size: 1.4em;}
.newsflash-horiz li img {display: block;margin-bottom: 10px;}
.newsflash-vert {padding: 0;}

/* Newsfeeds */
.component-content .newsfeed {padding: 0 5px;}
.component-content ul.newsfeed {padding: 0;}
.component-content .newsfeed-item {padding: 5px 0 0 0;margin: 0;}
.component-content .newsfeed-item h5 a {font-size: 1.1em;font-weight: bold;}
.component-content .feed-item-description img {margin: 5px 10px 10px 0;}
.component-content dl.newsfeed-count dt, .component-content dl.newsfeed-count dd {display: inline;}
.component-content dl.weblink-count dt, .component-content dl.weblink-count dd {display: inline;}

/* Pagination */
.component-content .rt-pagination .pagenav { border: solid 1px #e7e7e7; margin: 0 2px; padding: 7px 14px; font-size: 90%;}
.component-content .rt-pagination .pagenav ul li:hover { background: #333!important;}
.component-content .rt-pagination {margin: 10px 0;padding: 10px 0 10px 0px;}
.component-content .rt-pagination ul {list-style-type: none;margin: 0;padding: 0;text-align: center;}
.component-content .rt-pagination li {display: inline;text-align: center; border:0;}
.component-content .rt-pagination li a:hover { cursor: pointer!important;}
.component-content .rt-pagination li.pagination-start, .component-content .rt-pagination li.pagination-next, .component-content .rt-pagination li.pagination-end, .component-content .rt-pagination li.pagination-prev {  }
.component-content .rt-pagination li a:hover, 
.component-content .rt-pagination li.pagination-start a:hover, 
.component-content .rt-pagination li.pagination-next a:hover, 
.component-content .rt-pagination li.pagination-end a:hover, 
.component-content .rt-pagination li.pagination-prev a:hover { background: #333; color: #fff;}
.component-content .rt-pagination li.pagination-start, .component-content .rt-pagination li.pagination-start span {padding: 7px 14px; margin:0!important;}
.component-content .rt-pagination .rt-results { font-size: 90%!important; text-align: center; border-top: 1px dotted #ddd; padding: 15px 0 5px 0;}

/* Pagenav */
.component-content .pagination .navigation  a { border: solid 1px #e7e7e7; padding: 7px 14px; font-size: 90%; list-style-type: none!important; }
.component-content .pagination .navigation  span {font-weight: 700;  border: solid 1px #e7e7e7; padding: 7px 14px; font-size: 90%; list-style-type: none!important; }



.component-content .pagination ul  {text-align:center;}
.component-content .pagination ul li {display: inline;text-align:center; }
.component-content .pagination li {text-align:center!important;}
.component-content .pagination li {}
.component-content .pagination li {}
.component-content .pagination li a { padding: 2px;text-decoration: none;}
.component-content .pagination li a:hover { background: #333; color: #fff; }
.component-content .pagination li.pagenav-prev {float: left;}
.component-content .pagination li.pagenav-next {float: right;}
.component-content .pagination .counter {text-align: center; font-size:90%; font-weight: normal; border-top: 1px dotted #ddd;}


/* Image Caption */
.img_caption.left {float: left;margin-right: 30px;}
.img_caption.right {float: right;margin-left: 30px;}
.img_caption.left p {clear: left;text-align: center;}
.img_caption.right p {clear: right;text-align: center;}
.img_caption {text-align: center!important;}
img.caption {padding:5px; border: 1px dotted #ccc; margin-bottom: 15px;}
.module-content img.caption {border:none;}

/* Tooltips */
.tip {float: left;background: #0f0f0f; border: 2px solid #333; padding: 5px 10px; max-width: 200px; font-size: 11px;}
.tip { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; box-shadow: 0 0 4px #222;-webkit-box-shadow: 0 0 5px #222;-moz-box-shadow: 0 0 4px #222; }
.tip-title {color:#aaa; font-size: 11px;}
.tip-text {margin: 0; color: #ccc; }
#gantry-totop {text-indent:-9999px;}
#gantry-totop .hasTip.tip-text  {display:none;}


/* Mailto */
#mailto-window {background: #f5f5f5;padding: 15px;border: solid 1px #ddd;position: relative;}
#mailto-window label {width: 10em;}
.mailto-close {position: absolute;right: 0;top: 5px;background: none;}
.mailto-close a {min-width: 25px;display: block;min-height: 25px;overflow: visible;}
.mailto-close a span {position: absolute;left: -3000px;top: -3000px;display: inline;}
#mailto-window .inputbox {padding: 3px;}
#mailto-window p {margin-top: 20px;}
#mailto-window button {margin: 0 5px 0 0;}


/* OpenID icon style */
input.system-openid, input.com-system-openid { background: url(http://openid.net/images/login-bg.gif) no-repeat;background-color: #fff;background-position: 0 50%;color: #000;padding-left: 18px;}

/* Unpublished */
.system-unpublished {background: #e8edf1;border-top: 4px solid #c4d3df;border-bottom: 4px solid #c4d3df;}

/* System Messages */
#system-message { margin-bottom: 10px; padding: 0;}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0; font-weight: bold; }
#system-message dd ul { background: #BFD3E6; color: #0055BB; margin: 10px 0 10px 0; list-style: none; padding: 10px; border: 2px solid #84A7DB;}

/* System Standard Messages */
#system-message dt.message {display: none;}

/* System Error Messages */
#system-message dt.error {display: none;}
#system-message dd.error ul {color: #c00;background-color: #EBC8C9;border: 2px solid #DE7A7B;}

/* System Notice Messages */
#system-message dt.notice {display: none;}
#system-message dd.notice ul {color: #A08B4C;background: #F5ECC1;border: 2px solid #F0DC7E;}
.warning {padding-top:20px;}

/* Debug */
#system-debug {color: #ccc;background-color: #fff;padding: 10px;margin: 10px;}
#system-debug div {font-size: 11px;}

/* Buttons */
.googlemaps button,
.actions input ,
div.itemCommentsForm form input#submitCommentButton,
.button  { background: url(../images/button.png) repeat-x 100%;height:30px;line-height:30px!important; padding: 0 20px; cursor: pointer; color: #4e4e4e; text-shadow: #fff 1px 1px 1px; font-size: 11px; text-transform: uppercase; font-family: Arial; font-weight:bold;}
div.itemCommentsForm form input#submitCommentButton:hover,
.googlemaps button:hover,
.actions input:hover,
.button:hover { color:#111; }
.googlemaps button,
.actions input,
.button {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius: 4px;}
.actions input {padding: 0 20px 0 20px!important; line-height:28px;}

