@font-face {
  font-family: 'Nobile';
  font-style: italic;
  font-weight: normal;
  src: local('Nobile-italic'), url('http://themes.googleusercontent.com/static/fonts/nobile/v3/6Od-Er02q5zXxcN14sw9CPesZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: normal;
  src: local('Nobile'), url('http://themes.googleusercontent.com/static/fonts/nobile/v3/LJdSuYk02E6wtyvk5bnaeA.woff') format('woff');
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: bold;
  src: local('Nobile-bold'), local('Nobile'), url('http://themes.googleusercontent.com/static/fonts/nobile/v3/W-bwIcGmtt6wHyJeSNFUXz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Nobile';
  font-style: italic;
  font-weight: bold;
  src: local('Nobile'), url('http://themes.googleusercontent.com/static/fonts/nobile/v3/8W-pGzs1uCDalpRJL-f9DIbN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
